@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import "_clear-styles.scss";

html {
  font-family: 'Arimo';
  font-style: normal;
}

body {
  // background: #373a3c;
  background: #373a3c;
}

.page {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  background: #373a3c;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__logo {
    width: 96px;
    height: 29px;
    background: url(/image/header_logo.svg) no-repeat center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;

    a {
      font-size: 16px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: #8DD83D;
      }
    }
  }

  &__profile {
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.cover {
  height: calc(100vh - 60px);
  background: url(/image/section_cover.jpg) no-repeat top;
  background-size: cover;

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__info {
    width: 100%;
    max-width: 297px;
    padding-top: 20%;
    // padding-top: 100px;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }

  &__discription {
    padding-top: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

  }

  &__block-button {
    display: flex;
    column-gap: 10px;
    padding-top: 28px;
  }

  &__button-green {
    padding: 8px 20px;
    background: #8DD83D;
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

    &:hover {
      background: #afef69;
    }
  }

  &__button-grey {
    padding: 8px 20px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

    &:hover {
      background: linear-gradient(180deg, #848e95 0%, #373A3C 100%);
    }
  }
}

.the-best {
  // height: 865px;
  padding: 64px 0;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .image-svg {
    display: flex;
    justify-content: center;
    // padding-top: 64px;
  }

  &__title {
    text-align: center;
    padding-top: 16px;
    font-size: 48px;
    color: #FFF;
  }

  .subtitle {
    color: #FFF;
    font-size: 36px;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 42px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  .card {
    width: 100%;
    max-width: 320px;
    border: 1px solid #8DD83D;
    background: #FFF;
  }

  &__content {
    padding: 24px;
  }

  &__subtitle {
    color: #435766;
    font-size: 18px;
  }

  &__info {
    padding-top: 12px;
    padding-bottom: 28px;
    color: #435766;
    font-size: 24px;
  }

  &__button {
    width: 100%;
    padding: 20px;
    background-color: #8DD83D;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
  }

}

.exclusive {
  // height: 880px;
  padding-top: 100px;
  padding-bottom: 140px;
  background: url(/image/exclusive_cover.jpg) no-repeat top;
  background-size: cover;

  @media (max-width: 1024px) {
    background: #555555;
  }

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
  }

  &__title {
    // text-align: center;
    font-size: 36px;
    color: #FFF;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 54px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    width: 100%;
    max-width: 320px;
    border: 1px solid #8DD83D;
    background: #FFF;
  }

  &__content {
    padding: 21px;
  }

  &__subtitle {
    color: #435766;
    font-size: 18px;
  }

  &__info {
    padding-top: 12px;
    padding-bottom: 28px;
    color: #435766;
    font-size: 21px;
  }

  &__button {
    width: 100%;
    padding: 20px;
    background-color: #8DD83D;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
  }

  &__block-button {
    transition: 0.5s;
    margin-top: 90px;
    padding: 12px 20px;
    border-radius: 4px;
    background: linear-gradient(180deg, #818181 0%, #67696b 100%);
    color: #FFF;

    &:hover {
      transition: 0.5s;
      color: #67696b;
      background: linear-gradient(180deg, #ffffff 0%, #c5c5c5 100%);
    }
  }

}

.design-lab {
  background: url(/image/design_lab.jpg) no-repeat center;
  padding-top: 115px;
  padding-bottom: 145px;

  &__container {
    width: 100%;
    max-width: 1400px;
    height: 220px;
    padding: 0 30px;
    margin: 0 auto; // Не хватало
  }
  
  &__info {
    width: 100%;
    // margin: 0 700px 0 167px; // Лишний
    width: 100%;
    max-width: 500px;
  }

  &__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
  }

  &__discription {
    display: flex;
    width: 533px;
    flex-direction: column;

    color: #FFF;
    font-size: 24px;
    font-weight: 400;
  }

  &__block-button {
    display: flex;
    // justify-content: center; // Лишний
    column-gap: 15px;
    padding-top: 28px;
  }

  &__button-grey {
    padding: 20px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #FFF;
  }

  &__button-green {
    padding: 20px;
    background: #8DD83D;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #FFF;
  }
}

.footer {
  height: 395px;
  background-color: #373A3C;

  &__container {
    display: flex; //
    flex-direction: column; // выравнивание по вертикали
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
    margin: 58px auto;
  }

  &__information {
    display: flex;
    justify-content: space-between; // распределение по всей ширине
  }

  &__info {
    width: 130px;
    height: 210px;
    display: flex;
    flex-direction: column;
    row-gap: 28px; // задать междустрочный отступ между элементами блока
    // column-gap: 100px; // задать отступ между столбцами-элементами блока

    h3 {
      color: #7DD42F;
      font-size: 18px;
      font-weight: 700;
    }

    p {
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
    }
  }

  hr {
    height: 1px;
    margin: 50px 0 20px;
    background: white;
    opacity: 0.3500000238418579;
  }

  &__info-2 {
    display: flex;
    justify-content: space-between;

    color: #FFF;
    font-size: 16px;
    font-weight: 400;
  }

}